.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

dist/

# Python test artifacts from .github/scripts
__pycache__/
.pytest_cache/
.coverage
